.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main :global(.helperText) {
  margin-top: 1.5rem;
  text-align: center;
}

.main :global(.textMuted) {
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  transition: color 0.3s ease;
}

.main :global(.textSmall) {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: var(--color-text-tertiary);
  transition: color 0.3s ease;
}
