.header {
  height: 80px;
  padding: 1rem;
  background-color: var(--color-bg-secondary);
  border-bottom: 1px solid var(--color-border);
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header :global(.pageContainer) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: var(--color-text-primary);
}

.header h1 i {
  color: var(--color-accent);
  margin-right: 0.2rem;
}
